footer{
    margin-top:  15px;
    border-top:  solid #212224;
     
    div{ 
         p{
            padding-left: 50px;
            margin: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: $color;
            font-size: 18px;
            text-align: center;
            padding-left: 50px;
         }
        

    }
    
}

.redes{ padding: 20px;
        display: flexbox;
        justify-content: left;

        a{  
            margin: 15px;
            text-decoration: none;
            font-size: 30px;
            width: 60px;
            height: 10px;
            text-align: center;
            color: $color;
            transition: 1s;
            &:hover{
                transform: scale(1.2);
                color: rgb(36, 31, 24);}
        }
    }