
@import "../utilidades/variables";



section{ 
        h1{
          color: $color;}


      main{
            h2{
                color: $color;
                font-size: 20px;
          
              }
               
            
            }
      

}

.cards{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 45px;}



      



  
     
      
   


